/*
 * Empty Stylesheet file.
 */

*{
-fx-font-family: Roboto;
-fx-base-color-focus:#09b6bc;
-fx-base-color-unfocus:#4d4d4d;
-fx-base-color-etiquetas:#4d4d4d;
-fx-base-color-titulos:#d0242c;
-fx-base-color-id:#00c853;


}
label {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.jfx-imvFondo {
    -fx-image: url("../resources/Tablero.png");
    -fx-fit-height: 100%;
    -fx-fit-width: 100%;
}


.jfx-titulo-label{
    -fx-font-size:28px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill:-fx-base-color-titulos;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6),2,0.0,1,2);
    
}
.vbox-jugador1{

}

.vbox-jugador2{

}

.anchor-pane-Font{
   -fx-background-color: #99ffcc;
  
}
 
 
.gridPaneTablero{
   -fx-background-image: url("../resources/Tablero.png");
    -fx-background-size: auto 100%;
    -fx-background-position: center center;;
    -fx-background-repeat: no-repeat;
    -fx-fit-height: 100%;
    -fx-fit-width: 100%;
}
.jfx-text-field{
       -fx-font-size:12px;
    -fx-pref-width:100px;
    -fx-min-width:100px;
    -fx-max-width:100px;
}

.label-Jugador2{
    -fx-background-color: #000099;
     -fx-text-fill: #f2f2f2; /* Cambia el color de letra a rojo */
    -fx-font-size: 14px; 
-fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.txt-Jugador2{
    -fx-prompt-text-fill:#000099;
         -jfx-focus-color:#000099;
         -jfx-unfocus-color:#000099;
        
}
.label-Jugador1{
    -fx-background-color: #999900;
     -fx-text-fill: #f2f2f2; /* Cambia el color de letra a rojo */
    -fx-font-size: 14px; 
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.txt-Jugador1{
    -fx-prompt-text-fill:#999900;
         -jfx-focus-color:#999900;
         -jfx-unfocus-color:#999900;
}

.hbox-centro{
     -fx-background-color: #f2f2f2;
  -fx-padding: 10px;
  -fx-effect: dropshadow(three-pass-box, rgba(33, 150, 243, 1), 10, 0, 0, 0);
}

.jfx-button{
    -fx-background-color: #660000;
    -jfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment:CENTER;
    -fx-graphic-text-gap: 10px;
    -fx-background-size: 30px 30px;
    -fx-background-position:2 3;
    /* xy*/
}
.jfx-button .jfx-rippler-{-jfx-rippler-fill: white;}
.jfx-button:hover, .button:hover{-fx-background-color: #FF6D00;}
.jfx-btn-jugar{
-fx-background-image: url("../resources/play.png");
  -fx-background-repeat: no-repeat;
}

.jfx-btn-jugar{-fx-background-color: #23B82E;}
.jfx-btn-jugar:hover{-fx-background-color: #4efd5c;}
.jfx-btn-cancelar{
-fx-background-image: url("../resources/cancelar.png");
  -fx-background-repeat: no-repeat;}
.jfx-btn-cancelar{-fx-background-color: #CC0000;}
.jfx-btn-cancelar:hover{-fx-background-color: #f95454;}
.jfx-btn-propiedades1 {
     -fx-font-size:12px;
    -fx-background-color: #999900; /* Cambia el color de fondo a rojo */
    -fx-text-fill: #FFFFFF; /* Cambia el color del texto a blanco */
}
.jfx-btn-propiedades2 {
    -fx-font-size:12px;
    -fx-background-color: #000099; /* Cambia el color de fondo a rojo */
    -fx-text-fill: #FFFFFF; /* Cambia el color del texto a blanco */
}

.jfx-btnimg-lanzarDados{
    -fx-background-image: url("../resources/Icono.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:2 6;
}
.jfx-btnimg-Comprar{
    -fx-background-image: url("../resources/comprar.png");
     -fx-background-repeat: no-repeat;
}

.jfx-btnimg-Construir{
    -fx-background-image: url("../resources/construir.png");
    -fx-background-repeat: no-repeat;
}
.jfx-btnimg-Cargar{
    -fx-background-image: url("../resources/cargar.png");
    -fx-background-color: #0066ff;
    -fx-background-repeat: no-repeat;
}
.jfx-btn-buscar{
-fx-background-image: url("../resources/Buscar-48.png");
  -fx-background-size: 30px 30px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: left;}

.jfx-btn-buscar{-fx-background-color: #23B82E;}
.jfx-btn-buscar:hover{-fx-background-color: #4efd5c;}
.jfx-btn-aceptar{-fx-background-color: #3498db;}
.jfx-btn-aceptar{-fx-background-image: url("../resources/Agregar-48.png");
  -fx-background-size: 30px 30px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: left;}
.jfx-btn-aceptar:hover{-fx-background-color: #69bcff;}

.vbox-busqueda{
    
   
          -fx-background-color: #f2f2f2;
  -fx-effect: dropshadow(three-pass-box, rgba(33, 150, 243, 1), 10, 0, 0, 0);
}